
.order-image {
  width: 70px; 
  height: auto;
}

.container {
  padding: 20px;
}

table {
  margin: auto;
}

th, td {
  font-size: 25px; 
}

.container {
  width: 110%;
  padding: 79px;
  max-width: 1781px;
}


.custom-mdb-table {
  font-size: 20px;

}



.pagination li.page-item.active .page-link {
  background-color: #3a187a; }

