







.order-image {
  width: 50px; 
  height: auto;
}

.table th:first-child, .table td:first-child {
  text-align: center;
}

.table thead tr {
  background-color: #f8f9fa;
}

.table td {
  vertical-align: middle;
}


