
.publisher-order-list {
  padding: 20px;
}

.order-list {
  margin-top: 20px;
}

.order-item {
  background-color: #f7f7f7;
}

.empty-list {
  text-align: center;
  margin-top: 20px;
}

.cta-buttons {
  margin-top: 20px;
  text-align: center;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-orange {
  background-color: #ffa500;
  color: #fff;
}