:root {
    --main-color: #03884af5;
    --main-background: #03884af5;
    --main-border-color: #03884af5;
    --main-pading: 50px;
}

h2 {
    color: var(--main-color);
}

.user-type {
    padding: var(--main-pading);
    position: relative;
    cursor: pointer;
    border: 2px solid #eee;
    transition: 0.2s;
}

.select-icon {
    position: absolute;
    top: 5px;
    right : 5px
}

.user-type:hover {
    border-color: var(--main-border-color);
}

.select-icon:checked {
    background-color: var(--main-background);
    border-color:  var(--main-border-color);
}

.user-type .select-icon:checked {
    border-color: var(--main-border-color);
}

